.header{
  background-color: red;
 grid-area: h;
 display: flex;
 justify-content: space-between;
}

.logo{
  width: 60px;
  height: 60px;

}

.logo img{
   max-width: 100%;
}


.login_block{
	background-color: pink;
	width: 90px;
	height: 40px;
	margin: 10px 30px 10px 0;
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
	color: green;
}



.header_logout {
  margin: 10px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 100px;
  border: 1px solid #777;
  position: relative;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #fff;
  color: #000;
}

.header_logout:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.header_logout:active {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.header_name{
	 font-family: "Roboto", sans-serif;
	  font-size: 30px;
  font-weight: 700;
  color: #fff;
}