.profile_info{
	background-color: yellow;
	color: #999;
	font-size: 20px;
	font-weight: 500;
	padding: 5px;

}

.ava_descriptioin{
	margin: 0 0 10px 0;
}

.ava_descriptioin span{
	font-weight: 700;
	color: #000;
}

.content_img{
  width: 100px;
  height: 100px;
  background: linear-gradient(blue, pink) ;
}

.content_img img{
  width: 100%;
}

.profile_status{
	color: yellowgreen;
	font-size: 20px;
	font-weight: 600;
	background-color: pink;
	margin: 10px 0;
	padding: 5px;
}