.profile_info{
	background-color: yellow;
	color: #999;
	font-size: 20px;
	font-weight: 600;

}

.content_img{
  width: 100px;
  height: 100px;
  background: linear-gradient(blue, pink) ;
}

.content_img img{
  width: 100%;
}